html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  background: #3a3a3a;
}

h1 {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
}

.tittle-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  box-sizing: border-box;
}

.title {
  margin: 0;
  padding: 0;
  color: #ccc
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
}

.header button {
  background: none;
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.tiles-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex: 1;
  min-height: 0;
} 

.tile-button {
  background: #222;
  border: 0;
  width: 84px;
  height: 84px;

  align-self: center;
  justify-self: center;

  border-radius: 8px;

  /* fit background image to container */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}