html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  background: #373737;
}

#root {
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
}

h1.title {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.tiles-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex: 1;
  min-height: 0;
} 

.tile-button {
  background: yellow;
  width: 84px;
  height: 84px;

  align-self: center;
  justify-self: center;
}